.category-sidebar {
    background-color: beige;
    width: 300px;
    margin-top: 50px;
    text-align: left;
    display: inline-block;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    margin-right: 10px;
    height: 2300px;
}

.category-sidebar h4 {
    padding: 10px;
}

.category-sidebar div {
    padding: 20px;
}

.category-sidebar div:hover {
    background-color:beige
}

a {
    text-decoration: none;
    color: black;
}

.seacrh-btn {
    width: 160px;
    border-radius: 30px;
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid grey;
}
